    body {
        display: flex;
        font-size: large;
        justify-content: center;
    }

    .content {
        width: 100%;
        max-width: 833px;
    }

    header img {
        display: block;
        position: absolute;
        margin-top: -22px;
        margin-left: 44px;
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 60px;
        margin-left: 186px;
    }

    footer {
        margin-top: 50px;
        height: 90px;
        background-color: grey;
    }

    footer img {
        display: block;
        position: absolute;
        margin-top: 28px;
        margin-left: 44px;
    }

    .kd {
        color: #000000;
        font-weight: bold;
    }

    .k, .kv {
        color: #000000;
        font-weight: bold;
    }

    .mi {
        color: #009999;
    }

    .github-img {
        /* display: block; */
        position: relative;
    }

    .github-img img {
        right: 10px;
        margin-top: 20px;
    }

    mark {
        background: none;
    }

    .language-javascript {
        background: lightgray;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .language-javascript div {
        /* background: rgba(200, 200, 0, 0.5); */
    }